<a href="https://colab.research.google.com/github/gsb3501/class2021Spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Syntax 연습

In [3]:
a = [1, 2, 3, 4]
for i in a: 
  print(i)

1
2
3
4

In [4]:
a = [1, 2, 3, 4]
for i in range(len(a)):
  print(a[i])

1
2
3
4

In [5]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
  print(i)

red
green
blue
purple

In [6]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
  print(a[i])

red
green
blue
purple

In [10]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
  print("{}: {}%".format(a_, b[i]*100))
# enumerate: 인덱스 번호와 컬렉션의 원소를 튜플 형태로 반환

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [11]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
  print("{}: {}%".format(a_,b[i]*100))
# zip: 여러개 오브젝트나 리스트 등이 요소를 동시에 취득

red: 40.0%
green: 40.0%
blue: 40.0%
purple: 40.0%

In [12]:
a = 0
if a==0:
  print(a)
else:
  print(a+1)

0

In [13]:
for i in range(1, 3):
  for j in range(3, 5):
    print(i*j)
# range(a, b): a부터 b-1까지

3
4
6
8

In [14]:
for i in range(1, 3):
  for j in range(3, 5):
    if j>= 4:
      print(i*j)

4
8

In [18]:
a = [1, 2, 3, 4]
b = [ i for i in a if i>=2] # a 리스트에서 2이상인 i
b

[2, 3, 4]

In [17]:
a = ["red", "green", "blue", "purple"]
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']