<a href="https://colab.research.google.com/github/gsb3501/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수 연습

In [ ]:
a = 1
print(type(a))
#a의 타입은 integer

<class 'int'>

In [ ]:
a = 1
a = float(a)
print(type(a))
#integer 타입의 a를 float 타입으로 바꿈

<class 'float'>

In [ ]:
a = 1.2
a = int(a)
print(type(a))
print(a) # 실수 형태의 a를 정수형으로 바꾸었더니 a = 1이 됨

<class 'int'>
1

In [ ]:
a = '123'
print(type(a))
print(a[1])

<class 'str'>
2

In [ ]:
a = '123'
a = list(a)
print(type(a))
print(a)
print(a[2])

<class 'list'>
['1', '2', '3']
3

In [ ]:
a = [1,'2', [3, '4']] 
print(type(a)) 
print(a[0]) 
print(a[1]) 
print(a[2])

<class 'list'>
1
2
[3, '4']

In [ ]:
a = [1,'2', [3, '4']] 
print(type(a)) 
print(a[0]) 
print(a[1]) 
print(a[2])

<class 'list'>
1
2
[3, '4']

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

#Dictionary
표제어(key) : 설명(value) 형태로 저장.
리스트처럼 인덱스로 관리하는 것이 아니라, key를 가지고 value에 접근.

In [ ]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]